@model IEnumerable<Department>

@{
    ViewData["Title"] = "Departments";
    Layout = "_DataLayout";
}

@if (!Model.Any())
{
    <div class="alert alert-warning mt-5 text-center">
        <h4 class="alert-heading">No Departments!</h4>
        <p>No departments have been added yet.</p>
    </div>
}
else
{
    <div class="container mt-5">
        <h2 class="text-center mb-4">Departments List</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-center">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Manager</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Location</td>
                            <td>@(item.Manager != null ? item.Manager.Name : "No Manager Assigned")</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                                    <i class="bi-eye"></i>
                                    Details
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mx-2">
                                    <i class="bi-pencil"></i>
                                    Edit
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                    <i class="bi-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
